.counters {
  font-size: 12px;
  text-align: center;
}

strong {
  display: block;
  font-size: 14px;
}

.status.unanswered {
  border: none;
}

.status.answered {
  border: 1px solid green;
  color: green;
  padding: 7px;
}

.status.answered-accepted {
  background: green;
  color: #fff;
}

form.form-delete {
  display: inline;
}

.vote-controls {
  margin-right: 30px;
  text-align: center;
  color: gray;
}

.vote-controls span,
.vote-controls a {
  display: block;
}

.vote-controls span.votes-count {
  font-size: 25px;
}

.vote-controls span.favorites-count {
  font-size: 12px;
}

.vote-controls a {
  cursor: pointer;
  color: #636161;
}

.vote-controls a.off,
.vote-controls a.off:hover {
  color: #918e8e;
}

.vote-controls a.favorite.favorited,
.vote-controls a.favoritefavorited:hover {
  color: #f3ca34;
}

.vote-controls a.vote-accepted {
  color: #078107;
}

.post {
  padding: 20px 0;
}

.post:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

[v-cloak] {
  display: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s linear;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

